<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?q=80&w=1025&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  <div class="container">
    <h1>Save any kind of <strong>movie</strong> !</h1>
  </div>
</div>

<div class="container-list">
  <div class="text-list">
    <h3>My Lists</h3>
    <%= link_to 'Create a new list', new_list_path(@list), class: "btn btn-success"  %>
    <%= link_to 'Back', movies_path, class: "btn btn-primary"  %>
  </div>

  <div class="lists">
    <% @lists.each do |list| %>
      <%= render '/lists/list', list: list %>
    <% end %>
  </div>
</div>
